// Theme colors
$color__main: #9e77ff;
$color__secondary: #372c53;
$color__utilitary: #221e2c;
$color__hr: lighten($color__secondary, 5%);

$color__titles: #00031f;
$color__text: #666;
$color__link: #9e77ff;

// Base colors
$color__grey: #f6f5fa;
$color__grey--regent: darken($color__grey, 5%);

// Import styleguide
@import '@themesei/styleguide/src/main.scss';
